-e git+ssh://git@github.com/Hehesh/aDDM-Toolbox.git@6d4dc6839246a3a611cbedbfe66371f98f466a9e#egg=addm_toolbox
appnope==0.1.4
asttokens==3.0.0
certifi==2025.11.12
charset-normalizer==3.4.4
cloudpickle==3.1.2
comm==0.2.2
contourpy==1.3.2
cycler==0.12.1
# Editable Git install (ddm==0.1.0) with either a deleted local remote or invalid URI:
# 'git@github.com:/Hehesh/DDM.git'
-e /Users/braydenchien/Desktop/Enkavilab/DDM
deap==1.4.3
debugpy==1.8.14
decorator==5.2.1
-e git+https://github.com/Hehesh/efficient-fpt.git@37a35f1ff1b4f3c11f9b52669c23be5012c82d7e#egg=efficient_fpt
executing==2.2.0
fonttools==4.58.1
future==1.0.0
idna==3.11
ipykernel==6.29.5
ipython==9.3.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
joblib==1.5.3
jupyter_client==8.6.3
jupyter_core==5.8.1
kiwisolver==1.4.8
llvmlite==0.46.0
matplotlib==3.10.3
matplotlib-inline==0.1.7
nest-asyncio==1.6.0
numba==0.63.1
numpy==2.2.6
packaging==25.0
pandas==2.2.3
paranoid-scientist==0.2.3
parso==0.8.4
patsy==1.0.2
pexpect==4.9.0
pillow==11.2.1
pipdeptree==2.26.1
platformdirs==4.3.8
prompt_toolkit==3.0.51
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
-e git+ssh://git@github.com/Hehesh/PyDDM.git@3d14fb652c16d3754c65ab7af2616adb9844da5c#egg=pyddm
Pygments==2.19.1
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
PyWavelets==1.9.0
pyzmq==26.4.0
requests==2.32.5
scikit-learn==1.8.0
scipy==1.15.3
seaborn==0.13.2
setuptools==80.9.0
six==1.17.0
stack-data==0.6.3
statsmodels==0.14.6
stumpy==1.13.0
threadpoolctl==3.6.0
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
tsfresh==0.21.1
tzdata==2025.2
urllib3==2.6.2
wcwidth==0.2.13
